
    <div class="callout callout--primary">
        <div class="grid grid--1x2">
            <div class="callout__content">
                <h2 class="callout__headings">
                    Ready to get started?
                </h2>
                <p class="callout__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vel quo soluta similique, odit optio officia consequatur aspernatur pariatur nihil!</p>
            </div>
            
            <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
        </div>
    </div>

